<ion-view view-title="List Menu">
	<ion-content data-ng-init="onload()">
		<ion-refresher pulling-text="Pull down to refresh..." on-refresh="onload()">
  		</ion-refresher>
		<ion-list>
			<div class="list">
				<ion-item ng-repeat="data in menu">
					<a class="item item-thumbnail-left" href="#/tab/menu/{{data.id}}">
						<img src="{{data.image}}">	
						
						<div class="col col-50">
						<h2>{{data.title}}</h2>
						<b>{{data.kategori}}</b>
						<p>{{data.price}}</p>
						</div>
					</a>
				</ion-item>
			</div>
		</ion-list>
	</ion-content>
</ion-view>
